#header
	background url('../images/header_back_1.jpg') repeat-x

header
	background url('../images/linea_header.png') repeat-x
	background-size 100% 103px
	#bannerHome
		margin-top -37px
		position relative
		z-index 1
		ul
			padding 0px;
			li
				height 365px
				width 100%
	#mainMenu
		background url('../images/header_back_2.png')
		background-size 100% 100%
		margin auto
		width 1280px
		position relative
		z-index 2
		#logo
			margin-left 150px
			position relative
			top -20px
			z-index 3
		#imgContact
			position relative
			top -20px
			z-index 3
		ul
			display inline-block
			margin-left 200px
			padding: 0;
			list-style none 
			li
				display inline-block
				a#btnHome
					background url('../images/home.png')
					display block
					height 52px
					width 44px
				a.btnMainMenu
					background url('../images/back_btn_superior.png')
					color #2d2d2d
					display block
					font-size 18px
					height 60px
					text-align center
					padding 20px 20px 0 20px
					width 141px

#secondaryMenu
	margin auto
	width 1280px
	ul
		padding 0px
		text-align center
		li
			display inline-block
			list-style none
			a
				background url("../images/back_btn_nav_sec.png") bottom no-repeat
				color #8c8c8c
				display block
				padding-bottom 15px
				width 206px
				text-align center
				h1 
					color #365a84
					display block
					font-size 25px
					font-weight normal
					margin-bottom 10px

#homeContent
	margin auto
	width 1024px
	#welcome
		background url('../images/mano.png') no-repeat bottom left
		height 320px
		width 750px
		h2
			color #365a84
			font-family "Arial"
			font-size 30px
			font-weight normal
		h1
			color #617184
			font-family "Arial"
			font-size 70px
			font-weight normal
			margin-left 280px
		h3
			color #a8c0dd
			font-family "Arial"
			font-size 30px
			font-weight normal
			margin-left 340px
		ul
			margin-left 370px
			width 400px
			li
				color #a3a3a3
				background url("../images/bineta.png") center left no-repeat
				display inline-block
				font-family "Arial"
				font-size 15px
				padding-left 15px
				width 150px

footer
	background url('../images/back_footer.png')
	height 90px
	#networks
		text-align center
		margin auto
		margin-top -47px
		width 1024px;
		a
			display inline-block
			height 31px
			width 31px
			&#facebook
				background url('../images/fb.png')
			&#youtube
				background url('../images/youtube.png')
			&#skype
				background url('../images/skype.png')
			&#twitter
				background url('../images/twitter.png')

	#foot 
		color #00b3ab
		margin auto
		line-height 25px
		padding-top 30px
		text-align center
		width 1024px