header
	background url(../images/linea_header.png) repeat-x
	.container
		background url(../images/header_back_2.png)
		background-size 100% 100%
		height 133px
		#logo
			margin-top 20px
		nav#mainMenu
			text-align right
			ul
				display inline-block
				li
					display inline-block
					list-style none
					vertical-align middle
					a 
						background url(../images/back_btn_superior.png)
						background-size 100% 100%
						color #2d2d2d
						display block
						font-size 18px
						line-height 20px
						min-height 80px
						min-width 141px
						padding 25px 6% 0 6%
						text-align center
					#btnHome
						background url(../images/home.png)
						display block
						height 52px
						min-height 52px
						min-width 44px
						width 44px
	#banner
		ul
			margin 0px
			padding 0px
			li
				background-position center
				list-style none
				height 365px
				width 100%